
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52b788;
  
}

#mesa {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
 
}

.tarjeta {
  width: auto;
  height: auto;
  cursor: pointer;
  backface-visibility: hidden;
  transition: 0.3s;
  cursor: pointer;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background-color: #4a7c59;
  margin: 15px;
  border-radius: 5px;
}

.tarjeta__contenido {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  border-radius: 5px;
  padding: 2rem;
  background-color: #d8f3dc;
  box-shadow: 10px 10px 21px -8px rgba(0, 0, 0, 0.4);
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}



.tarjeta.descubierta {
  transform: rotateY(-180deg);
}

@keyframes error {
  10%,
  90% {
    transform: rotateY(-180deg) translateX(-1px);
  }
  20%,
  80% {
    transform: rotateY(-180deg) translateX(2px);
  }
  30%,
  50%,
  70% {
    transform: rotateY(-180deg) translateX(-4px);
  }
  40%,
  60% {
    transform: rotateY(-180deg) translateX(4px);
  }
}

@keyframes acierto {
  from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
  }

  25% {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }

  to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
  }
}


.acertada {
  pointer-events: none;
}

.acertada .tarjeta__contenido {
  animation: acierto 1.3s ease-in-out forwards;
}

.error {
  animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

#feedback{
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

#feedback.visible{
  display: flex;
}



.modal{
  width: 30%;
  height: 20%;
  background-color: #52b788;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-content: center; 
  border-radius: 5px;
  border: 2px solid white;
  
}

#reiniciar{
  width: 20%;
  align-self: center;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 2%;
  font-size: 1.2rem;
  color: #52b788;
}

.ti_modal{
  width: auto;
  align-self: center;
  padding: 2%;
  font-size: 2rem;
}

/* cabecera*/
.cabecera{
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #4a7c59;
  color: white;
  font-size: 1.2rem;
}
.contadores{
  width: 90%;
  padding: auto;
  padding: 25px;
}

.contador-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  font-size: 1.5rem;
 
}





